@model AllotmentPlanner.Data.AllotmentAllocation

@{
    ViewBag.Title = "RemoveGardenerfromGarden";
}

<h2>Remove Gardener from Garden- Are you Sure?</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AllotmentAllocation</h4>
        <hr />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Yes, Get rid of Them" class="btn btn-default" /> @Html.ActionLink("No, He's Alright", "ViewGardensinLocation", new { controller = "Garden",})
            </div>
        </div>
}

