
@{
    ViewBag.Title = "GardenerDashboard";
}

<div class="row">
    <div class="col-md-12">
        <h1>Welcome back to Allotment Planner!</h1>
        <p class="lead">From this Dashboard Page you should be able to manage How your garden grows</p>
        <hr class="my-4">
    </div>
</div>

<h2>GardenerDashboard</h2>
